<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for decade in decades %}
                <li class="nav-item"><a href="" class="nav-link">Movies from the {{ decade }}'s</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
